RewriteEngine On

RewriteRule ^(public)($|/) - [L]
RewriteRule ^_api/([^/]+)/? index.php?url=_api&sys=$1 [L,QSA]
RewriteRule ^api/([^/]+)/([^/]+)/? index.php?url=api&api=$1&id=$2 [L,QSA]
RewriteRule ^api/([^/]+)/? index.php?url=api&api=$1 [L,QSA]
RewriteRule ^([^/]+)/([^/]+)/? index.php?url=$1&id=$2 [L,QSA]
RewriteRule ^([^/]+)/? index.php?url=$1 [L,QSA]
