body{
  background-color:	#07bff2;
  font-family: "Gill Sans", sans-serif;
  font-size: 16px;
}

b{
  color:  white;
  font-family: "Verdana", sans-serif;
  font-weight: lighter;
  text-align: left;
}
.margin{
  width: 560px;
  height:300px;
  border: none;
  margin-top: 200px;
  background-color: #497fdd;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.topback{
  color: #333333;
  text-align: center;
  padding: 20px 60px;
  font-size: 25px;
}

.innermargin{
  color : white;
  margin-left: 180px;
  background-color: #497fdd;
  padding: 6px 12px;
}
input[type = 'radio']{
  margin-right: 5px;
  margin-left: 2px;
}

input[type = 'text']{
  margin-top: 10px;
  margin-bottom: 10px;
}

input[type = "submit"]{
  margin-top: 10px;
  margin-bottom: 20px;
}
form{
  margin-bottom: 0em;
}
.button{
  background-color: #213d70;
  border: none;
  padding: 10px 140px;
  height: 40px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.center{
  margin-left: 140px;
  text-align: center;

}

.adjust{
  font-size: 15px;
  width: 317px;
  height: 40px;
  padding: 5px 10px;
}
